@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 font-rubik scroll-smooth;
}

.dark body {
    @apply bg-gray-900 ;
}


*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 7px;
  background-color: #F9F9F9;
}

*::-webkit-scrollbar-track:hover {
  background-color: #F9F9F9;
}

*::-webkit-scrollbar-track:active {
  background-color: #F9F9F9;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #4FC646;
}
.dark ::-webkit-scrollbar-thumb{
  @apply bg-gray-800
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4FC646;
}
.dark ::-webkit-scrollbar-thumb:hover{
  @apply bg-gray-700
}


*::-webkit-scrollbar-thumb:active {
  background-color: #4FC646;
}

.ticketDetail {
  @apply bg-green-100 text-green-500 p-2 rounded-md
}